@media (max-width: 1000px) {
	.main__regestration
	{
		visibility: hidden;
	}
}
.main__regestration
{
	float: right;
	margin-top: 40px;
	margin-right : 40px;

}
.-Red
{
	color: Red;
	text-decoration: none;
}
.-Red:hover
{
	text-decoration: none;
	color: Red;
}
