@media (max-width: 992px)
{
	.main__regestration
	{
		border: 1px Solid;
		background-color: red;
		color:White;
		margin-top: 10px
		
	}
	.-Red
	{
		color:White !important;
	}
}

.main__regestration
{
	display: flex;
	justify-content: center;
	align-items: center;
}
.-Red
{
	color: Red;
	text-decoration: none;
}
.-Red:hover
{
	text-decoration: none;
	color: Red;
}