.-bord
{
	margin-top: 20px;
	margin-bottom: 20px;
}
.main
{
	font-family:"Arial Narrow";
}
.employees
{
	font-family:"Arial Narrow";
}
.icon
{
	font-family:"Arial Narrow";
}
.news
{
	font-family:"Arial Narrow";
}
.project
{
	font-family:"Arial Narrow";
}
.rates
{
	font-family:"Arial Narrow";
}
::-webkit-scrollbar { 
    display: none; 
}