@media (max-width: 500px){
	.promo_ver
{
	padding-left: 600px;
    padding-top: 100px;
    padding-right: 60px;
}
}

.promo_ver
{
	padding-left: 800px;
    padding-top: 100px;
    padding-right: 60px;
}